<!-- <p>overview works!</p> -->

<div style="display: flex; flex-direction: row; gap:20px; justify-content: space-around;">

<div style="display:flex; flex-direction: column;">
<div>Voters
<button mat-button (click)="addVoter()">+</button></div>
  <table mat-table
         [dataSource]="dummyVoters">

    <ng-container matColumnDef="name">
      <th mat-header-cell
          *matHeaderCellDef>Name</th>
      <td mat-cell
          *matCellDef="let voter">{{voter.name}}</td>
    </ng-container>

    <ng-container matColumnDef="voted">
      <th mat-header-cell
          *matHeaderCellDef>Has voted</th>
      <td mat-cell
          *matCellDef="let voter">{{voter.voted}}</td>
    </ng-container>

    <tr mat-header-row
        *matHeaderRowDef="votersTableColumns"></tr>
    <tr mat-row
        *matRowDef="let row; columns: votersTableColumns"></tr>
  </table>
</div>

<div>
  <div style="display:flex; flex-direction: column;">
    <div>Candidates
      <button mat-button (click)="addCandidate()">+</button></div>
      <table mat-table
             [dataSource]="dummyCandidates">

        <ng-container matColumnDef="name">
          <th mat-header-cell
              *matHeaderCellDef>Name</th>
          <td mat-cell
              *matCellDef="let candidate">{{candidate.name}}</td>
        </ng-container>

        <ng-container matColumnDef="numOfVotes">
          <th mat-header-cell
              *matHeaderCellDef>Votes</th>
          <td mat-cell
              *matCellDef="let candidate">{{candidate.numOfVotes}}</td>
        </ng-container>

        <tr mat-header-row
            *matHeaderRowDef="candidateTablesColumns"></tr>
        <tr mat-row
            *matRowDef="let row; columns: candidateTablesColumns"></tr>
      </table>
    </div>
  </div>
</div>
