<form class="voting-form__form" [formGroup]="votingForm" (ngSubmit)="submit()">

  <mat-form-field>
    <mat-label>I am</mat-label>
    <mat-select formControlName="voter" disableRipple>
      <mat-option *ngFor="let voter of voters"
                  [value]="voter.name">
        {{voter.name}}
      </mat-option>
    </mat-select>
    <mat-error *ngIf="votingForm.controls['voter'].hasError('required')">
      This field is required
    </mat-error>
  </mat-form-field>

  <mat-form-field>
    <mat-label>I vote for</mat-label>
    <mat-select formControlName="candidate" disableRipple>
      <mat-option *ngFor="let candidate of candidates"
                  [value]="candidate.name">
        {{candidate.name}}
      </mat-option>
    </mat-select>
    <mat-error *ngIf="votingForm.controls['candidate'].hasError('required')">
      This field is required
    </mat-error>
  </mat-form-field>

  <button mat-raised-button [disabled]="!votingForm.valid">Submit!</button>

</form>
